@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;
}

/* Utilities */
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor:pointer;
}

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #100e0f;
}

/* Nav Start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}